{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<section class="content">

<h1>{% trans "Verification needed" %}</h1>

<form action="{% url 'verify' %}" method="post">
{% csrf_token %}
<div class="col-md-6 col-xs-12">
    <div>
        <p>{% trans "The account registration process cannot be completed until verification has been provided." %}</p>
    </div>

    {% crispy form %}
    <button type="submit" class="btn btn-primary">{% trans 'Verify' %}</button>

    {% comment %}
    <form action="{% url 'auth_logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">{% trans "Logout" %}</button>
    </form>
    {% endcomment %}

</div>
</form>

</section>
{% endblock %}
